annotated-types
anyio
certifi
click
dnspython
email_validator
environs
fastapi
fastapi-cli
fastapi_cors
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
markdown-it-py
MarkupSafe
marshmallow
mdurl
orjson
packaging
psycopg2-binary
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
shellingham
sniffio
SQLAlchemy
sqlmodel
starlette
typer
typing_extensions
ujson
uvicorn
uvloop
watchfiles
websockets
